<%= content_tag(:p, 'Title: ' + post.title) %>
<%= link_to('URL:', post.url) %>
<%= content_tag(:p, 'Company: ' + post.company) %>
<%= content_tag(:p, 'City: ' + post.city) %>
<%= content_tag(:p, 'State: ' + post.state) %>
<%= content_tag(:p, 'PostDate: ' + post.post_date.to_s) %>
<p>----------------------------------------------------</p>
